<launch>
  <!-- Log specified topics -->
  <arg name="logged_topics" default="/tf /logged_designators" />

  <!-- CRAM Logging -->
  <node name="semrec_ros" pkg="semrec" type="semrec" />

  <!-- Topic logging -->
  <node name="topic_logging" pkg="suturo_ml_headmover" type="mongodb_log" args="$(arg logged_topics)" />

</launch>
