<launch>

  <arg name="task" default="head_mover" />
  <arg name="disable_logging" default="false" />
  <arg name="disable_planning" default="false" />

  <include file="$(find suturo_ml_headmover)/launch/task_head_mover_without_planning.launch">
    <arg name="task" value="$(arg task)" />
  </include>
  
  <!-- Start logging -->
  <include unless="$(arg disable_logging)" file="$(find suturo_ml_headmover)/launch/logging.launch" />
  
  <node unless="$(arg disable_planning)" name="planning" pkg="suturo_ml_headmover" type="task" required="true" output="screen" />
</launch>
