<launch>

  <arg name="task" default="head_mover" />
  <arg name="disable_logging" default="false" />
  <arg name="disable_planning" default="false" />  
  <arg name="disable_prolog" default="false" />

  <include file="$(find suturo_ml_headmover)/launch/task_head_mover_without_planning.launch">
    <arg name="task" value="$(arg task)" />
    <arg name="disable_logging" value="$(arg disable_logging)" />
    <arg name="disable_prolog" value="$(arg disable_prolog)" />
  </include>
  
  <node unless="$(arg disable_planning)" name="planning" pkg="suturo_ml_headmover" type="task" required="true" output="screen" />

</launch>
